.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20em;
  }

#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 40em;
    height: 3em;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
 
}

h3 {
    display: block;
    margin-left: 54em;
}

#searchbar2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    width: 40em;
    height: 3em;

}

#logoheader {
    color: rgb(28, 28, 214);
}

#fkimgref {
    text-align: right;
}